{{!-- Carousels --}}
<div class="container">
  <div id="myCarousel1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators"></ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      
        <h2>Shoe Case</h2>
      

      <div class="item active">
        <h2 id="SneakerName0"></h2>
        <p id="ShoeName0"></p>
        <p id="RetailPrice0"></p>
        <p id="ReleaseDate0"></p>
        <img alt="sneaker" id="img0" />
      </div>
    
      <div class="item">
        <h2 id="SneakerName1"></h2>
        <p id="ShoeName1"></p>
        <p id="RetailPrice1"></p>
        <p id="ReleaseDate1"></p>
        <img alt="sneaker" id="img1" />
      </div>

      <div class="item">
        <h2 id="SneakerName2"></h2>
        <p id="ShoeName2"></p>
        <p id="RetailPrice2"></p>
        <p id="ReleaseDate2"></p>
        <img alt="sneaker" id="img2" />
      </div>

      <div class="item">
        <h2 id="SneakerName3"></h2>
        <p id="ShoeName3"></p>
        <p id="RetailPrice3"></p>
        <p id="ReleaseDate3"></p>
        <img alt="sneaker" id="img3" />
      </div>

      <div class="item">
        <h2 id="SneakerName4"></h2>
        <p id="ShoeName4"></p>
        <p id="RetailPrice4"></p>
        <p id="ReleaseDate4"></p>
        <img alt="sneaker" id="img4" />
      </div>
    </div>


              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>