<body style="background-color:rgb(7, 7, 7);">
  <!-- Nav Bar Menu Items -->


  <form style="border:1px solid #ccc padding:10px">
    <div class="container">
      <h1>MEMBER COLLECTION</h1>
      <p>Your Ultimate Sneaker Collection</p>
      <hr>

      <main class="grid">
        <img src=/images/yeezy-black-red.png alt="yeezy-black-red">
        <img src=/images/adidas-tan.png alt="adidas-tan">
        <img src=/images/nike-flywire-black.png alt="nike-flywire">
        <img src=/images/nike-air-max-red.png alt="nike-air-max">
        <img src=/images/jordans.png alt="jordans">
        <img src=/images/nike-sneaker.png alt="nike-sneaker">
      </main>

    </div>
  </form>

</body>