<!-- Nav Bar Menu Items -->
{{> navbar}}
<div id="alert" class="text-center"></div>
<div class="page-content text-center">
  <h1 style="font-size:40px"> The Ultimate Sneaker Collection </h1>
  <br>
  <p style="font-size:20px"> GETTING BACK TO THE SNEAKER HEAD ROOTS </p>
  <br>
</div>

<div style="border:1px solid #ccc padding:10px">
  <div class="container text-center">
    <h1> HOME</h1>
    {{!-- <p>TOP SNEAKERS FROM OUR USER</p> --}}
    <hr>
    <div id="index-gallery">
      <div class="item center text-center">
        
        {{> collection-carousel}}
      </div>
    </div>
  </div>
</div>