<!-- Nav Bar Menu Items -->
{{> navbar}}

<div class="page-content">
  <h1 style="font-size:40px"> GETTING BACK TO THE SNEAKER HEAD ROOTS</h1>
  <br>
  <p style="font-size:20px"> The Ultimate Sneaker Collection</p>
  <br>
</div>

<div style="border:1px solid #ccc padding:10px">
  <div class="container">
    <h1>HOME</h1>
    <hr>
    <div id="index-gallery">
      <div class="item">
        <p>TOP 5 SNEAKERS FROM YOUR COLLECTION</p>
        {{> collection-carousel}}
      </div>
    </div>
  </div>
</div>