<!-- Nav Bar Menu Items -->

{{> navbar}}

  <form class="login" style="border:1px solid #ccc padding:10px">
    <div class="container">
      <h1>LOG IN</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>

      <div class="form-text">
        <label for="username"><b>Username</b></label>
        <input id="userName" type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input id="userPassword" type="password" placeholder="Enter Password" name="psw" required>

        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>
        <br>
        <br>
        <div class="login-btn">
          <button class="button">Log In</button>
        </div>
        <br>
        <br>
      </div>

    </div>
  </form>

</body>