<body style="background-color:rgb(7, 7, 7);">
        <!-- Nav Bar Menu Items -->

        <header>
            <div class="logo">
                <img src="/public/images/in-solez-minimal-logo.png" width="200" height="100" alt="sneakers" />
            </div>
            <div class="topnav">
                <nav id="navigation">
                    <a href="#search">SEARCH</a>
                    <a href="#signup">SIGN UP</a>
                    <a href="/login">LOG IN</a>
                    <a href="#members">MEMBER PROFILE</a>
                    <a class="active" href="#home">HOME</a>
                </nav>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </header>

        <!-- Page Content -->
        <div class="hero-image">
        </div>
        <div class="page-content">
            <h1 style="font-size:40px"> GETTING BACK TO THE SNEAKER HEAD ROOTS</h1>
            <br>
            <p style="font-size:20px"> The Ultimate Sneaker Collection</p>
            <br>
                <div class="home-login-btn">
                <button>Log In</button>
                </div>
            <br>
            <br>
            <br>
            <br>
        </div>
    </body>