<!-- Nav Bar Menu Items -->
{{> navbar}}

<form style="border:1px solid #ccc padding:10px"></form>
<div class="container">
  <h1>PROFILE</h1>
  <p>Your Ultimate Sneaker Collection</p>
  <hr>
  <div id="index-gallery">
    <div class="item">
      <p>YOUR COLLECTION</p>
      {{> collection-carousel}}
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <hr>
      <p>YOUR WISH LIST</p>
      {{> wishlist-carousel}}

    </div>
  </div>
  </form>
  <br>
  <br>
  <br>
  <br>

  </body>

  </html>

  </body>