<!-- Nav Bar Menu Items -->
{{> navbar}}

<form style="border:1px solid #ccc padding:10px">
  <div class="container">
    <h1>PROFILE</h1>
    <p>Your Ultimate Sneaker Collection</p>
    <hr>
    <div id="index-gallery">
      <div class="item">
        <div id="collectionSneakers">
          <div id="collectionSneaker" class="col-md-55">
            <div class="collectionThumbnail">
              <div class="collectionSneakerInfo">
                <h2 class="collectionSneakerName"></h2>
                <p class="collectionBrand"></p>
                <p class="collectionShoeName"></p>
                <img alt="collectionSneaker" />
              </div>
            </div>
          </div>
        </div>
        {{!-- <img src="/images/yeezy-black-red.png" alt="yeezy-black-red" />
        <p>YOUR COLLECTION</p> --}}
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div id="index-gallery">
      <div class="item">
        <div id="wishlistSneakers">
          <div id="wishlistSneaker" class="col-md-55">
            <div class="wishlistThumbnail">
              <div class="wishlistSneakerInfo">
                <h2 class="wishlistSneakerName"></h2>
                <p class="wishlistBrand"></p>
                <p class="wishlistShoeName"></p>
                <img alt="wishlistsneaker" />
              </div>
            </div>
          </div>
        </div>
        {{!-- <img src="/images/jordans.png" alt="jordans" />
        <p>YOUR WISH LIST</p> --}}
      </div>
    </div>
  </div>
</form>
<br>
<br>
<br>
<br>
<div class="container">
  <h2>Carousel Example</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="/images/yeezy-black-red.png" alt="yeezy-black-red" style="width:100%">
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>LA is always so much fun!</p>
        </div>
      </div>

      <div class="item">
        <img src="/images/yeezy-black-red.png" alt="yeezy-black-red" style="width:100%">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>

      <div class="item">
        <img src="/images/yeezy-black-red.png" alt="yeezy-black-red" style="width:100%">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>

</html>

</body>

<!-- <main class="grid">
                    <img src=/public/images/yeezy-black-red.png alt="yeezy-black-red">
                    <img src=/public/images/adidas-tan.png alt="adidas-tan">
                    <img src=/public/images/nike-flywire-black.png alt="nike-flywire">
                    <img src=/public/images/nike-air-max-red.png alt="nike-air-max">
                    <img src=/public/images/jordans.png alt="jordans">
                    <img src=/public/images/nike-sneaker.png alt="nike-sneaker">
                  </main> -->