<!-- Nav Bar Menu Items -->
{{> navbar}}
<form style="border:1px solid #ccc padding:10px">
  <div class="container">
    <h1>MEMBER PROFILE</h1>
    <p>Your Ultimate Sneaker Collection</p>
    <hr>
    <div id="index-gallery">
      <div class="item">
        <img src="/images/yeezy-black-red.png" alt="yeezy-black-red" />
        <p>YOUR COLLECTION</p>
      </div>
    </div>
    <div class="container">
      <hr>
      <div id="index-gallery">
        <div class="item">
          <img src="/images/jordans.png" alt="jordans" />
          <p>YOUR WISH LIST</p>
        </div>
      </div>
</form>
<br>
<br>
<br>
<br>

</body>

<!-- <main class="grid">
                    <img src=/public/images/yeezy-black-red.png alt="yeezy-black-red">
                    <img src=/public/images/adidas-tan.png alt="adidas-tan">
                    <img src=/public/images/nike-flywire-black.png alt="nike-flywire">
                    <img src=/public/images/nike-air-max-red.png alt="nike-air-max">
                    <img src=/public/images/jordans.png alt="jordans">
                    <img src=/public/images/nike-sneaker.png alt="nike-sneaker">
                  </main> -->