<!-- Nav Bar Menu Items -->
{{> navbar}}

<div style="border:1px solid #ccc padding:10px">
  <div class="container">
    <h1>PROFILE</h1>
    <p>Your Ultimate Sneaker Collection</p>
    <hr>
    <p>YOUR COLLECTION</p>
    <div id="index-gallery">
      <div class="item ">
        <div id="collectionSneakers" >
          <div class="col-md-55 collectionSneaker hide" id="collectionSneaker">
            <div class="collectionThumbnail">
              <div class="collectionSneakerInfo">
                <h2 class="collectionSneakerName"></h2>
                <p class="collectionShoeName"></p>
                <p class="collectionRetailPrice"></p>
                <p class="collectionReleaseDate"></p>
                <img alt="sneaker" />
                <button class="collectionDelete-btn button sneaker-button">Delete from collection</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <hr>
      <p>YOUR WISH LIST</p>
      <div id="index-gallery">
        <div class="item">
          <div id="wishlistSneakers">
            <div class="col-md-55 wishlistSneaker hide" id="wishlistSneaker">
              <div class="wishlistThumbnail">
                <div class="wishlistSneakerInfo">
                  <h2 class="wishlistSneakerName"></h2>
                  <p class="wishlistShoeName"></p>
                  <p class="wishlistRetailPrice"></p>
                  <p class="wishlistReleaseDate"></p>
                  <img alt="sneaker" />
                   <button class="wishlistDelete-btn button sneaker-button">Delete from wishlist</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 