<body style="background-color:rgb(7, 7, 7);">
        <!-- Nav Bar Menu Items -->
        {{> navbar}}

        <form style="border:1px solid #ccc padding:10px">
            <div class="container">
                <h1>SEARCH</h1>
                <p>Look For a Sneaker or Sneaker Head</p>
                <hr>
                <br>
                <div class="col-md-8">
                    <div class="search-box">
                        <input type="search" class="form-control ds-input" id="search-input" placeholder="Search..."
                            autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list"
                            aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0"
                            style="position: relative; vertical-align: middle;" dir="auto">
                            
                            <div class="container">
                                <h1 class="member-name"></h1>
                                <div id="sneakers">
                                    <div id="sneaker" class="col-md-55">
                                        <div class="thumbnail">
                                            <div class="sneakerInfo">
                                                <h2 class="sneakerName"></h2>
                                                <p class="brand"></p>
                                                <p class="shoeName"></p>
                                                <img alt="sneaker" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </form>

    </body>