<!-- Nav Bar Menu Items -->
{{> navbar}}

<form style="border:1px solid #ccc padding:10px">
    <div class="container">
        <h1>SEARCH</h1>
        <p>Look For a Sneaker or Sneaker Head</p>
        <hr>
        <br>
        <div class="col-md-8">
            <div class="search-box">
                <form id="sneaker-search">
                    <input type="search" class="form-control ds-input" id="sneaker-search-input"
                        placeholder="Search for a sneaker..." autocomplete="off" spellcheck="false" role="combobox"
                        aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0"
                        style="position: relative; vertical-align: middle;" dir="auto">
                        <button type="submit" class="button">Search</button>
                </form>
                <br>
                <form id="brand-search">
                    <input type="search" class="form-control ds-input" id="brand-search-input"
                        placeholder="Search for a sneaker brand..." autocomplete="off" spellcheck="false"
                        role="combobox" aria-autocomplete="list" aria-expanded="false"
                        aria-owns="algolia-autocomplete-listbox-0" style="position: relative; vertical-align: middle;"
                        dir="auto">
                        <button type="submit" class="button">Search</button>
                </form>
                <br>

                <div class="random-search-btn">
                    <button id="random-search-btn" class="button">Click To See Random Sneakers</button>
                </div>

                <br>

                <div class="container">
                    <h1 class="member-name"></h1>
                    <div id="sneakers">
                        <div id="sneaker" class="col-md-55">
                            <div class="thumbnail">
                                <div class="sneakerInfo">
                                    <h2 class="sneakerName"></h2>
                                    <p class="brand"></p>
                                    <p class="shoeName"></p>
                                    <img alt="sneaker" />
                                    <button class="collection-btn">Add to your Collection</button>
                                    <button class="wishlist-btn">Add to your Wishlist</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

</body>