    <!-- Nav Bar Menu Items -->
    {{> navbar}}

    <!-- Page Content -->
    <div class="hero-image">
    </div>
    <div class="page-content">
        <h1 style="font-size:40px"> GETTING BACK TO THE SNEAKER HEAD ROOTS</h1>
        <br>
        <p style="font-size:20px"> The Ultimate Sneaker Collection</p>
        <br>
        <div class="home-login-btn">
            <a href="login"><button>Log In</button></a>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>